# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de configuración de editor
.vscode/
.idea/
*.swp
*.swo

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Carpetas de construcción y dependencias (por si usas herramientas como Vite/Webpack)
node_modules/
dist/
build/
